.item-card {
    background-color: $color_main_100;

    &__info {
        padding-left: 12px;
    }

    &__link {
        display: block;
        padding: 38px 28px 35px 28px;
        &:hover {
            background-color: $color_main_200;

            img {
                transform: scale(1.03);
            }
        }
    }

    &__title {
        @include setFont("Playfair Display", 600, 14px, 24px, 0.03em);
        color: $color_main_900-082;
        text-transform: uppercase;
        padding-bottom: 4px;
    }

    &__price {
        @include setFont("Prata", 400, 12px, 16px);
        color: $color_main_900-082;
    }

    &__readmore {
        @include setFont("Playfair Display", 400, 16px, 22px);
        padding-left: 12px;
        color: $color_main_900;
        &::before {
            @include pseudoLine(30px);
            margin-right: 18px;
        }
    }

    &__image {
        background-image: url(../img/background_item.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-bottom: 20px;

        img {
            display: block;
            width: 313px;
        }
    }
}
