.footer {
    display: flow-root;

    background-color: $color_main_700;

    &__wrapper {
        margin: 70px 80px;
        @include setFlexWithGap(120px);

        @media (max-width: $screen_L) {
            margin: 40px 0px;
            @include setFlexWithGap(40px);
        }
    }

    &__contacts {
        width: 158px;
    }

    &__logo {
        margin-bottom: 11px;

        img {
            display: block;
        }
    }

    &__menu {
        @include setFlexSpaceBetween;
        width: 100%;
    }

    &__links-group,
    &__contacts-group {
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 8px;

        @media (max-width: $screen_M) {
            width: auto;
        }
    }

    @media (max-width: $screen_M) {
        &__links-group &__link-item {
            display: none;
        }
        &__menu {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__link-caption {
        @include setFont("Roboto", 600, 14px, 20px, 0.07em);
        text-transform: uppercase;
        color: $color_white;
        &:hover {
            color: $color_secondary_light;
        }
        margin-bottom: 15px;
    }

    &__link-item {
        @include setFont("Roboto", 400, 12px, 14px);
        color: $color_white-075;
        &:hover {
            color: $color_white;
        }
    }
}
