.hero {
    display: flow-root;
    background-color: $color_main_100;

    &__wrapper {
        display: grid;
        grid-template-columns: 37% 5% 12% 34% 12%;
        grid-template-rows: 135px 260px 260px 115px;

        background-image: url(../img/background_hero.svg);
        background-repeat: no-repeat;
        background-position: right 42% top -95px;

        @media (max-width: $screen_L) {
            grid-template-rows: 80px 200px 200px 80px;
            background-position: right 52% top -165px;
        }

        @media (max-width: $screen_M) {
            grid-template-columns: 30% 5% 12% 34% 12%;
            grid-template-rows: 40px 150px 150px 40px;
            background-position: right 62% top -100px;
            background-size: 300px;
        }

        @media (max-width: $screen_S) {
            grid-template-columns: 30% 5% 12% 23% 30%;
            grid-template-rows: 15px 150px 150px 15px;
            background-position: right 20% top -100px;
            background-size: 250px;
        }
    }

    &__content {
        grid-column: 1 / span 1;
        grid-row: 1 / span 4;
        align-self: center;
        margin-left: 85px;

        @media (max-width: $screen_L) {
            grid-column: 1 / span 3;
        }

        @media (max-width: $screen_M) {
            margin-left: 0;
        }

        @media (max-width: $screen_S) {
            grid-column: 1 / span 4;
        }
    }

    &__image {
        grid-column: 4 / span 1;
        grid-row: 1 / span 4;
        overflow: hidden;

        img {
            height: 100%;
        }

        @media (max-width: $screen_S) {
            grid-column: 5 / span 1;
        }
    }

    &__price {
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
        align-self: start;
        justify-self: start;
        @media (max-width: $screen_S) {
            margin-right: 40%;
        }
        @media (max-width: $screen_XS) {
            grid-column: 4 / span 2;
            justify-self: end;
            margin-right: 12%;
        }
    }

    &__feature {
        grid-column: 4 / span 2;
        grid-row: 3 / span 1;
        align-self: end;
        justify-self: end;
        @media (max-width: $screen_S) {
            margin-right: 40%;
        }
        @media (max-width: $screen_XS) {
            margin-right: 23%;
        }
    }

    &__collection-name {
        @include setFont("Playfair Display", 400, 45px, 45px);
        color: $color_main_900;
        margin-bottom: 15px;
        margin-left: -65px;

        @media (max-width: $screen_L) {
            @include setFont("Playfair Display", 400, 30px, 30px);
        }

        @media (max-width: $screen_M) {
            @include setFont("Playfair Display", 400, 24px, 24px);
            margin-left: 0;
        }

        @media (max-width: $screen_S) {
            @include setFont("Playfair Display", 400, 20px, 20px);
            margin-bottom: 10px;
        }

        &::before {
            @include pseudoLine(50px);
            margin-right: 15px;
        }
    }

    &__collection-caption {
        @include setFont("Playfair Display", 400, 30px, 32px);
        color: $color_main_900;
        margin-bottom: 35px;

        @media (max-width: $screen_L) {
            @include setFont("Playfair Display", 400, 20px, 20px);
            margin-bottom: 25px;
        }

        @media (max-width: $screen_M) {
            @include setFont("Playfair Display", 400, 16px, 16px);
            margin-bottom: 20px;
        }

        @media (max-width: $screen_S) {
            @include setFont("Playfair Display", 400, 14px, 14px);
            margin-bottom: 15px;
        }
    }

    &__title {
        @include setFont("Roboto", 300, 12px, 1.5);
        color: $color_main_900;
        margin-bottom: 35px;
        width: 250px;

        @media (max-width: $screen_L) {
            margin-bottom: 25px;
        }

        @media (max-width: $screen_XS) {
            width: 200px;
            margin-bottom: 20px;
        }
    }

    &__price {
        @include setFont("Prata", 400, 16px, 18px);
        color: $color_main_900;

        &::after {
            @include pseudoLine(50px);
            @media (max-width: $screen_M) {
                @include pseudoLine(100px);
            }
            @media (max-width: $screen_S) {
                @include pseudoLine(100px);
            }
            margin-left: 15px;
        }

        @media (max-width: $screen_L) {
            @include setFont("Prata", 400, 12px, 16px);
        }

        @media (max-width: $screen_S) {
            @include setFont("Prata", 400, 10px, 12px);
        }
    }

    &__feature {
        @include setFont("Prata", 400, 16px, 1.5);
        color: $color_main_900;

        &::before {
            @include pseudoLine(50px);
            margin-right: 15px;

            @media (max-width: $screen_M) {
                @include pseudoLine(100px);
            }
        }

        @media (max-width: $screen_L) {
            @include setFont("Prata", 400, 12px, 16px);
        }

        @media (max-width: $screen_S) {
            @include setFont("Prata", 400, 10px, 12px);
        }
    }
}
