.popular {
    display: flow-root;

    &__items-list {
        @include setFlexSpaceBetween;
        margin-top: 24px;
    }

    &__wrapper {
        margin: 82px 0 85px;
    }

    .section-header {
        text-align: center; // specific style for .popular section
    }
}
