.subscribe {
    display: flow-root;

    &__wrapper {
        @include setFlexWithGap(70px);
        margin: 80px 0 90px;
    }

    &__content {
        margin-top: 140px;
    }

    &__social-links {
        @include setFlexWithGap(15px);
    }

    &__social-link {
        fill: $color_main_500;

        &:hover {
            fill: $color_secondary_medium;
        }
    }

    &__social-icon {
        width: 24px;
        height: 24px;
    }

    &__photos {
        display: grid;
        grid-template-columns: 242px 377px;
        grid-template-rows: 228px 222px;
        gap: 10px;
    }

    &__photo {
        img {
            width: 100%;
        }
    }

    &__photo:first-child {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    &__photo:nth-child(2) {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    &__photo:last-child {
        grid-row: 1 / span 2;
        grid-column: 2 / span 1;
        img {
            height: 100%;
            width: auto;
        }
    }

    .section-description {
        // specific style for .subscribe section

        margin-bottom: 105px;
        width: 375px;
    }
}
