body {
    background-color: $color_white;
}

.content-zone {
    margin: 0 auto;
    padding: 0 40px;

    max-width: ($max_screen - 80px); // global width limits
    min-width: ($min_screen - 32px);

    @media (max-width: $max_screen) {
        outline: 1px solid #f155bd;
    }

    @media (max-width: $screen_XL) {
        outline: 1px solid #4400ff;
    }

    @media (max-width: $screen_L) {
        outline: 1px solid #00ff4c;
    }

    @media (max-width: $screen_M) {
        outline: 1px solid #ff9100;
    }

    @media (max-width: $screen_S) {
        outline: 1px solid #33fae6;
    }

    @media (max-width: $screen_XS) {
        outline: 1px solid #000000;
    }
}

.rouble {
    @include setFont("Roboto", 300, 1.125em, 1em);
    padding-left: 0.35em;
}
