@mixin setFont(
    $fontName,
    $fontWeight,
    $fontSize,
    $lineHeight,
    $letterSpacing: 0
) {
    @if $fontName == "Roboto" {
        font-family: $fontName, sans-serif;
    } @else {
        font-family: $fontName, serif;
    }

    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

// Flex

@mixin setFlexWithGap($gap: initial) {
    display: flex;
    justify-content: flex-start;
    gap: $gap;
}

@mixin setFlexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

@mixin setFlexCenteredRow {
    align-items: center;
}

@mixin setFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin setFlexButton($padV, $padH) {
    display: inline-flex;
    justify-content: center;
    padding: $padV $padH;
}

@mixin pseudoLine($length) {
    content: "";
    display: inline-block;

    @media (max-width: $screen_M) {
        display: block;
        vertical-align: initial;
        margin: 1em 0;
    }

    width: $length;
    height: 1px;
    background-color: $color_main_400;
    vertical-align: middle;
}
