.section-header {
    @include setFont("Playfair Display", 400, 32px, 40px);
    color: $color_main_900;
}

.section-description {
    @include setFont("Roboto", 400, 16px, 1.5);
    color: $color_main_700;

    a {
        font-weight: 600;
        &:hover {
            color: $color_secondary_medium;
        }
    }
}
