// primary color shades

$color_main_900: #1b1a17;
$color_main_800: #262421;
$color_main_700: #444240;
$color_main_600: #555248;
$color_main_500: #5c5c50;
$color_main_400: #8b8371;
$color_main_300: #c4c0b6;
$color_main_200: #f7f5ef;
$color_main_100: #fdfdfb;

$color_white: #ffffff;

// secondary colors

$color_secondary_light: #e6c8b4;
$color_secondary_medium: #d4b098;

// gradients

$gradient_circles_1: linear-gradient(
    89.63deg,
    #d4b098 0.3%,
    rgba(212, 176, 152, 0) 99.67%
);

$gradient_circles_2: linear-gradient(
    89.63deg,
    #e2d0c4 0.3%,
    rgba(226, 208, 196, 0) 99.67%
);

$gradient_circles_3: linear-gradient(
    89.63deg,
    #e9e3d4 0.3%,
    rgba(226, 208, 196, 0) 99.67%
);

$gradient_hero_background: linear-gradient(
    180deg,
    rgba(234, 227, 212, 0) 0%,
    #eae3d4 100%
);

// sizes

$size_content: 1170px;
