// primary color shades

$color_main_900: #1b1a17;
$color_main_900-082: #1b1a17d1; // 82% opacity main_900
$color_main_800: #262421;
$color_main_700: #444240;
$color_main_600: #555248;
$color_main_500: #5c5c50;
$color_main_400: #8b8371;
$color_main_300: #c4c0b6;
$color_main_200: #f7f5ef;
$color_main_100: #fdfdfb;

$color_white: #ffffff;
$color_white-075: #ffffffbf; // 75% opacity white

// secondary colors

$color_secondary_light: #e6c8b4;
$color_secondary_medium: #d4b098;

// sizes

$size_content: 1170px;
